body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: yellow;
    background-color: #0931d2;
}

.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #0931d2;
    text-align: center;
}
h2 {
    color: rgb(65, 50, 234);
    text-align: center;
}
p {
    color: blue;
    text-align: center;

}
#imagem-principal {
    width: 15%;
    margin-left: 40%;
    border: 5px dotted #000000;
    float: left;
    position: absolute;
}

.itens {
	color:  #5F9EA0;
	text-decoration: underline;
}
.texto-principal {
    margin-right: 20%; 
}


