body {
    background-color:rgb(255, 255, 255);
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgb(0, 4, 255);
    background-color: rgb(255, 255, 255);
}

.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #0931d2;
    text-align: center;
}
h2 {
    color: rgb(65, 50, 234);
    text-align: center;
}
p {
    color: blue;
    text-align: center;

}
#imagem-principal {
    width: 25%;
    margin-left: 80%;
    border: 5px dotted #000000;
    float: left;
    position: absolute;
}

.itens {
	color:  #0095f883;
	text-decoration: underline;
}
.texto-principal {
    margin-right: 20%; 
}


